CREATE TABLE IF NOT EXISTS public.product
(
    product_id bigint NOT NULL DEFAULT nextval('product_product_id_seq'::regclass),
    description text COLLATE pg_catalog."default",
    price real,
    product_name character varying(255) COLLATE pg_catalog."default",
    img_link character varying(255) COLLATE pg_catalog."default",
    product_brand character varying(255) COLLATE pg_catalog."default",
    CONSTRAINT product_pkey PRIMARY KEY (product_id)
);

CREATE TABLE IF NOT EXISTS public.users
(
    user_id integer NOT NULL DEFAULT nextval('users_user_id_seq'::regclass),
    contact character varying(255) COLLATE pg_catalog."default",
    date timestamp(6) without time zone,
    email character varying(255) COLLATE pg_catalog."default",
    enabled boolean NOT NULL,
    username character varying(255) COLLATE pg_catalog."default",
    password character varying(255) COLLATE pg_catalog."default",
    CONSTRAINT users_pkey PRIMARY KEY (user_id)
);

CREATE TABLE IF NOT EXISTS public.purchase
(
    purchase_id integer NOT NULL GENERATED BY DEFAULT AS IDENTITY ( INCREMENT 1 START 1 MINVALUE 1 MAXVALUE 2147483647 CACHE 1 ),
    purchase_date timestamp(6) without time zone,
    user_id integer NOT NULL,
    user_user_id integer,
    CONSTRAINT purchase_pkey PRIMARY KEY (purchase_id),
    CONSTRAINT fke4whjgw89450rdxrwad4o7cjm FOREIGN KEY (user_user_id)
        REFERENCES public.users (user_id) MATCH SIMPLE
        ON UPDATE NO ACTION
        ON DELETE NO ACTION
);

CREATE TABLE IF NOT EXISTS public.users_role
(
    user_user_id integer NOT NULL,
    role_id integer NOT NULL,
    CONSTRAINT uk_cdpd2ix59qroxmqubyjqplxn1 UNIQUE (role_id),
    CONSTRAINT fk3qjq7qsiigxa82jgk0i0wuq3g FOREIGN KEY (role_id)
        REFERENCES public.role (id) MATCH SIMPLE
        ON UPDATE NO ACTION
        ON DELETE NO ACTION,
    CONSTRAINT fkati5xmjrd4vpcu1gd6j73s8m FOREIGN KEY (user_user_id)
        REFERENCES public.users (user_id) MATCH SIMPLE
        ON UPDATE NO ACTION
        ON DELETE NO ACTION
);

CREATE TABLE IF NOT EXISTS public.purchase_details
(
    id bigint NOT NULL GENERATED BY DEFAULT AS IDENTITY ( INCREMENT 1 START 1 MINVALUE 1 MAXVALUE 9223372036854775807 CACHE 1 ),
    product_id bigint NOT NULL,
    quantity integer NOT NULL,
    purchase_id integer,
    CONSTRAINT purchase_details_pkey PRIMARY KEY (id),
    CONSTRAINT fkealyy8b2294o7oxoj3xul7hbu FOREIGN KEY (product_id)
        REFERENCES public.product (product_id) MATCH SIMPLE
        ON UPDATE NO ACTION
        ON DELETE NO ACTION,
    CONSTRAINT fkk16rlf7byn3rg2iq2eym1sbv2 FOREIGN KEY (purchase_id)
        REFERENCES public.purchase (purchase_id) MATCH SIMPLE
        ON UPDATE NO ACTION
        ON DELETE NO ACTION
);

CREATE TABLE IF NOT EXISTS public.category
(
    id bigint NOT NULL DEFAULT nextval('category_id_seq'::regclass),
    category_name character varying(255) COLLATE pg_catalog."default",
    CONSTRAINT category_pkey PRIMARY KEY (id)
);

CREATE TABLE IF NOT EXISTS public.product_category
(
    product_id bigint NOT NULL,
    category_id bigint NOT NULL,
    CONSTRAINT fk2k3smhbruedlcrvu6clued06x FOREIGN KEY (product_id)
        REFERENCES public.product (product_id) MATCH SIMPLE
        ON UPDATE NO ACTION
        ON DELETE NO ACTION,
    CONSTRAINT fkkud35ls1d40wpjb5htpp14q4e FOREIGN KEY (category_id)
        REFERENCES public.category (id) MATCH SIMPLE
        ON UPDATE NO ACTION
        ON DELETE NO ACTION
);

CREATE TABLE IF NOT EXISTS public.cart
(
    id integer NOT NULL DEFAULT nextval('cart_id_seq'::regclass),
    total_amount real NOT NULL,
    user_id integer,
    CONSTRAINT cart_pkey PRIMARY KEY (id),
    CONSTRAINT uk_9emlp6m95v5er2bcqkjsw48he UNIQUE (user_id),
    CONSTRAINT fkg5uhi8vpsuy0lgloxk2h4w5o6 FOREIGN KEY (user_id)
        REFERENCES public.users (user_id) MATCH SIMPLE
        ON UPDATE NO ACTION
        ON DELETE NO ACTION
);

CREATE TABLE IF NOT EXISTS public.cart_details
(
    cart_details_id integer NOT NULL DEFAULT nextval('cart_details_cart_details_id_seq'::regclass),
    amount integer NOT NULL,
    product_id bigint NOT NULL,
    cart_id integer,
    CONSTRAINT cart_details_pkey PRIMARY KEY (cart_details_id),
    CONSTRAINT fkhq1m50l0ke2fkqxxd6ubo3x4b FOREIGN KEY (cart_id)
        REFERENCES public.cart (id) MATCH SIMPLE
        ON UPDATE NO ACTION
        ON DELETE NO ACTION
);


